.headerMainMenuClientItem {
  height: 40px;
  align-items: center;
}

.flexText {
  display: flex;
  margin-left: auto;
}

input {
  width: 500px;
  border-radius: 15px;
  height: 40px;
}

svg {
  width: 40px;
  height: 40px;
}

.flexText > li {
  margin-right: 40px;
}

.headerMainMenuClientItem svg:hover {
  fill: #96c93d;
  color: #96c93d;
}

button {
  overflow: hidden;
}
