.main_nav {
  width: 62px;
  height: 630px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 2;
  font-size: 18px;
}

ul {
  padding-left: 0px;
  justify-content: space-around;
}

ul > li {
  display: flex;
  justify-content: center;
}

img {
  height: 40px;
}

.main_nav > .navListSpan {
  display: inline-block;
  margin-left: 35px;
  vertical-align: super;
  width: 190px;
}

.main_nav:hover,
.main_nav > .navListSpan:hover {
  width: 280px;
  color: #181414;
  transition: 0.5s;
}

.navListSpan {
  display: flex;
}

.styleLink {
  display: flex;
  white-space: nowrap;
}
