.main_nav {
  width: 62px;
  height: 630px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 2;
}

ul {
  padding: 10px;
}

.main_nav span {
  font-size: 24px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.main_nav img {
  height: 40px;
  width: 40px;
}

.main_nav > .navListSpan {
  display: inline-block;
  width: 190px;
}

.main_nav:hover,
.main_nav > .navListSpan:hover {
  width: 320px;
  color: #181414;
  transition: 0.5s;
  display: flex;
}

.styleLink {
  display: flex;
}
