.containerHeader {
  width: 1900px;
  height: 1200px;
  background-image: url('../../images/ryby-ryba-pripravy-eda-ovoshchi-stol.jpg');
  margin: 0px auto;
}

.flexDir {
  display: flex;
}

.blockMain {
  width: auto;
  height: auto;
  background-color: aquamarine;
}
