.containerHeader {
  width: 1900px;
  height: 1200px;
  background-image: url('../../images/ryby-ryba-pripravy-eda-ovoshchi-stol.jpg');
  margin: 0px auto;
  position: relative;
}

.flexDir {
  position: absolute;
  z-index: 12;
  display: flex;
}

.blockMain {
  border-radius: 16px;
  margin-left: 100px;
  margin-top: 20px;
  width: 92%;
  height: 90%;
  background-color: blue;
}
