.flex_text {
  display: flex;
  padding: 0px;
}

.flex_text > li:not(:last-child) {
  margin-right: 40px;
}

.flex_text > li:first-child {
  margin-left: 40px;
}

.flex_text li > a:hover {
  color: #96c93d;
}
